.cookie-panel {
    width: 60%;
    position: fixed;
    bottom: 0;
    left: 15%;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    border: 2px solid gainsboro;
    border-bottom: none;
    padding: 10px 40px;
}

.slide-out {
    transform: translateY(100%);
}

.cookie-panel p { 

}

.cookie-panel button {
    height: 40px;
    width: 150px;
    border: none;
    font-size: 1.2em;
    background-color: gainsboro;
}

@media only screen and (max-width: 1000px) { 
    .cookie-panel {
        width: 100%;
        left: 0;
        column-gap: 15px;
        padding: 5px;
    }
    
    .cookie-panel p { 
        width: 65%;
    }

    .cookie-panel button {
        width: 100px;
    }
}